# OS
.DS_STORE
#  terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
**/__pycache__/**
secrets.auto.tfvars
# editors
.vscode/
.idea
*.iml
# envs
.env
venv/
env/
terraform/environment/.terraform.lock.hcl
lambdas/image_processor/extraction/fail/**
lambdas/image_processor/extraction/pass/**
lambdas/image_processor/extraction/LP1H-Edited.pdf
tmp_images