# OS
.DS_STORE
#  terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
**/__pycache__/**
secrets.auto.tfvars
# editors
.vscode/
.idea
*.iml
# envs
.env
venv/
env/
terraform/environment/.terraform.lock.hcl
