Pillow==12.1.1
arrow_pd_parser==1.3.9
aws-xray-sdk==2.15.0
awslambdaric==3.1.1
awswrangler==3.15.0
boto3==1.42.39
charset-normalizer==2.1.1
fuzzywuzzy[speedup]==0.18.0
imageio==2.37.2
imutils==0.5.4
jsonschema==4.26.0
mojap_metadata==1.16.0
moto==5.1.20
opencv-python==4.13.0.90
pdf2image==1.17.0
pdfminer-six==20251230
pydantic==1.10.26
pyjwt==2.11.0
pyopengl==3.1.10
pypdf==6.6.2
pytesseract==0.3.13
pyzbar==0.1.9
requests==2.32.5
setuptools==80.10.2
tesserocr==2.7.0
