boto3==1.36.14
awslambdaric==3.0.1
setuptools==75.8.0
requests==2.32.3
pyjwt==2.10.1
pyopengl==3.1.9
pypdf==5.2.0
pyarrow==19.0.0
form-tools==0.2.0
arrow_pd_parser==1.3.9
pdf2image==1.17.0
Pillow==10.4.0
awswrangler==3.11.0
pdfminer==20191125
opencv-python==4.11.0.86
mojap_metadata==1.15.3
pydantic==1.10.21
tesserocr==2.7.1
pyzbar==0.1.9
fuzzywuzzy[speedup]==0.18.0
imutils==0.5.4
moto==5.0.28
imageio==2.37.0
aws-xray-sdk==2.14.0
