permissions:
  actions: read
  checks: read
  contents: read
  deployments: none
  issues: none
  packages: none
  pull-requests: none
  repository-projects: none
  security-events: write
  statuses: none

on:
  workflow_call:

jobs:
  form_tools_tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.12']
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tesseract-ocr and poppler
        run: |
          sudo apt-get install tesseract-ocr libtesseract-dev libleptonica-dev pkg-config poppler-utils
      - name: Install dependencies
        run: |
          cd lambdas/image_processor/form-tools
          pip install -r ../requirements.txt
          pip install -r requirements-dev.txt
      - name: Run Tests
        env:
          TESSDATA_PREFIX: /usr/share/tesseract-ocr/5/tessdata/
        run: |
          cd lambdas/image_processor/form-tools
          PYTHONPATH=. pytest tests/ -vv
