permissions:
  actions: read
  checks: read
  contents: read
  deployments: none
  issues: none
  packages: none
  pull-requests: none
  repository-projects: none
  security-events: write
  statuses: none

on:
  workflow_call:

jobs:
  unit_tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        id: checkout_code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Build Unit Tests
        id: build_container
        run: docker compose build unit-tests-request-handler unit-tests-processor

      - name: Run Unit Tests Request Handler
        id: unit_tests_request_handler
        run: |
          docker compose up unit-tests-request-handler --abort-on-container-exit --exit-code-from unit-tests-request-handler || exit 1

      - name: Run Unit Tests Processor
        id: unit_tests_processor
        run: |
          docker compose up unit-tests-processor --abort-on-container-exit --exit-code-from unit-tests-processor || exit 1

      # test form-tools
          
      - name: Set up Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.12
      - name: Install tesseract-ocr and poppler
        run: |
          sudo apt-get install tesseract-ocr libtesseract-dev libleptonica-dev pkg-config poppler-utils
      - name: Install dependencies
        run: |
          cd lambdas/image_processor/form-tools
          python -m pip install --upgrade pip
          pip install poetry
          poetry config virtualenvs.create false \
            && poetry install --no-interaction --no-ansi
      - name: Run Tests
        env:
          TESSDATA_PREFIX: /usr/share/tesseract-ocr/4.00/tessdata/
        run: |
          cd lambdas/image_processor/form-tools
          pytest tests/ -vv
