name: "[Terraform] Validate terraform"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      workspace:
        description: 'Terraform workspace'
        required: true
        type: string
    secrets:
      aws_access_key_id_actions:
        required: true
      aws_secret_access_key_actions:
        required: true
      ssh_private_key:
        required: false
      source_github_token:
        required: true
jobs:
  lint-terraform:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - folder: 'environment'
          - folder: 'account'
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - id: terraform_version
        name: Get terraform version
        uses: ministryofjustice/opg-github-actions/actions/terraform-version@e3177e63e9f2951dd3f1f7c7aa093918a5a0794a # v4.3.6
        with:
          terraform_directory: "./terraform/${{ matrix.folder }}"

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ steps.terraform_version.outputs.version }}

      - uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
        name: Setup TFLint

      - name: configure AWS credentials for terraform
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id_actions }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key_actions }}
          aws-region: eu-west-1
          role-duration-seconds: 1800
          role-session-name: OPGUseAnLPAECRGithubAction

      - name: terraform fmt ${{ matrix.folder }} check
        run: terraform fmt --check --recursive
        working-directory: ./terraform/${{ matrix.folder }}

      - name: terraform lint ${{ matrix.folder }}
        run:  tflint --recursive
        working-directory: ./terraform/${{ matrix.folder }}
      
      - name: Setup SSH private key
        uses: webfactory/ssh-agent@a6f90b1f127823b31d4d4a8d96047790581349bd # v0.9.1
        with:
          ssh-private-key: ${{ secrets.ssh_private_key }}

      - name: terraform validate ${{ inputs.workspace }}
        env:
          TF_WORKSPACE: default
        run: |
          terraform --version
          terraform init
          echo $TF_WORKSPACE
          terraform validate
        working-directory: ./terraform/${{ matrix.folder }}
